p {
    font-weight: bold;
}

.movies__header-body {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding:17px 0px;
    border-radius: 4px;
    margin: 0 auto;
}
.movies__sort-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:250px;
}

.movies__sort {
    font-weight: bold;
}
.active__sort{
    color:#f85163;
}