@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    margin: 0;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;

}
button:focus {
    outline: none
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}